svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

svg.icon.festival-decoration {
    width: 3em;
    height: 3em;
    left: 2em;
    margin-bottom: -3em;
    display: block;
    z-index: 100;
    position: relative;
    -webkit-animation: sway 1s infinite ease-in-out alternate;
    animation: sway 1s infinite ease-in-out alternate;
}
@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(20deg);
    transform-origin: center top;
  }
  100% {
    -webkit-transform: rotate(-20deg);
    transform-origin: center top;
  }
}
@keyframes sway {
  0% {
    transform: rotate(20deg);
    transform-origin: center top;
  }
  100% {
    transform: rotate(-20deg);
    transform-origin: center top;
  }
}

/*iconfont默认样式*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  }
/* 页脚蝴蝶振翅动画 */
.copyright svg{
  animation:butterfly 1s linear infinite alternate;
}
@keyframes butterfly {
  from {
    transform:rotateY(70deg);
  }
  to {
    transform:rotateY(0deg);
  }
}

@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
}

h1#site-title {
  font-family: 'Candyhome', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif;*/
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.5);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.5)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.5);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.5);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.5);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.5);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.5);
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }